<!--Header-->
<header class="main-header" style="background-image: url(images/background2.jpg)">
    <div class="container">
        <div class="row personal-profile">
            <div class="col-md-4 personal-profile__avatar">
                <img class="" src="images/rosto2.jpg" alt="avatar">
            </div>
            <div class="col-md-8">
                <p class="personal-profile__name" id="hello_header" >Lucas Sartor_</p>
                <p class="personal-profile__work">fullstack developer</p>
                <div class="personal-profile__contacts">
                    <dl class="contact-list contact-list__opacity-titles">
                        <dt>Age:</dt>
                        <dd>18</dd>
                        <dt>Phone:</dt>
                        <dd><a href="tel:82344563333">+55 14 991338449</a></dd>
                        <dt>Email:</dt>
                        <dd><a href="mailto:mail@mail.com">lucassartorchauvin@gmail.com</a></dd>
                        <dt>City:</dt>
                        <dd>São Paulo - SP</dd>
                    </dl>
                </div>
                <p class="personal-profile__social">
                    <a href="https://github.com/lucassartor" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/lucas-sartor-chauvin-8a5a501aa/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                </p>
            </div>
        </div>
    </div>
</header>
<!--Header-->