<meta charset="UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Lucas Sartor Chauvin Resume and Portfolio">
<meta name="author" content="Lucas Sartor Chauvin">
<title>Lucas Sartor</title>

<link type="text/css" rel="stylesheet" href="css/main.css">

<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Inconsolata" rel="stylesheet">
<link href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">


